
text/x-generic .htaccess ( UTF-8 Unicode text )


RewriteEngine On

# Check for the language in the HTTP_ACCEPT_LANGUAGE header for index.html
RewriteCond %{THE_REQUEST} /index\.html [NC]
RewriteCond %{HTTP:Accept-Language} ^fr [NC]
RewriteRule ^index\.html$ /fr/ [L,R=302]

RewriteCond %{THE_REQUEST} /index\.html [NC]
RewriteCond %{HTTP:Accept-Language} ^id [NC]
RewriteRule ^index\.html$ /id/ [L,R=302]

RewriteCond %{THE_REQUEST} /index\.html [NC]
RewriteCond %{HTTP:Accept-Language} ^es [NC]
RewriteRule ^index\.html$ /es/ [L,R=302]

RewriteCond %{THE_REQUEST} /index\.html [NC]
RewriteCond %{HTTP:Accept-Language} ^en [NC]
RewriteRule ^index\.html$ /en/ [L,R=302]

# Redirect to English by default for any other languages
RewriteCond %{THE_REQUEST} /index\.html [NC]
RewriteRule ^index\.html$ /en/ [L,R=302]


DirectoryIndex index.php index.html

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
    RewriteBase /

    # Check if the requested file is in one of the language directories
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} /(en|fr|id|es)/ [NC]
    RewriteRule !404\.php$ - [L]

    # Condition 1: If the requested file is not found, redirect to 404.php in the language directory
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} /(en|fr|id|es)/ [NC]
    RewriteRule !404\.php$ %{REQUEST_URI}404.php [L]

    # Condition 2: If the requested file is not found in language directories, redirect to index.php in the root directory
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /index.php [L]
</IfModule>

#
#
#<IfModule mod_expires.c>
#    ExpiresActive On
#
#    # Cache all specified file types for one year
#    <FilesMatch "\.(ico|pdf|ttf|flv|jpg|jpeg|png|webp|gif|js|swf|svg|css)$">
#        ExpiresByType image/ico "access plus 1 years"
#        ExpiresByType application/pdf "access plus 1 years"
#        ExpiresByType font/ttf "access plus 1 years"
#        ExpiresByType video/x-flv "access plus 1 years"
#        ExpiresByType image/jpeg "access plus 1 years"
#        ExpiresByType image/png "access plus 1 years"
#        ExpiresByType image/webp "access plus 1 years"
#        ExpiresByType image/gif "access plus 1 years"
#        ExpiresByType application/javascript "access plus 1 years"
#        ExpiresByType application/x-shockwave-flash "access plus 1 years"
#        ExpiresByType image/svg+xml "access plus 1 years"
#        ExpiresByType text/css "access plus 1 years"
#    </FilesMatch>
#</IfModule>



RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^ https://%1%{REQUEST_URI} [L,R=301]









RedirectMatch "^/offsets/" "/en/offsets.php"
RedirectMatch "^/offsetting" "/en/offsets.php"
RedirectMatch "^/offset" "/en/offsets.php"
RedirectMatch "^/offsetting.php" "/en/offsets.php"
RedirectMatch "^/en/offsetting.php" "/en/offsets.php"

