
text/x-generic .htaccess ( UTF-8 Unicode text )


#
#
#<IfModule mod_expires.c>
#    ExpiresActive On
#
#    # Cache all specified file types for one year
#    <FilesMatch "\.(ico|pdf|ttf|flv|jpg|jpeg|png|webp|gif|js|swf|svg|css)$">
#        ExpiresByType image/ico "access plus 1 years"
#        ExpiresByType application/pdf "access plus 1 years"
#        ExpiresByType font/ttf "access plus 1 years"
#        ExpiresByType video/x-flv "access plus 1 years"
#        ExpiresByType image/jpeg "access plus 1 years"
#        ExpiresByType image/png "access plus 1 years"
#        ExpiresByType image/webp "access plus 1 years"
#        ExpiresByType image/gif "access plus 1 years"
#        ExpiresByType application/javascript "access plus 1 years"
#        ExpiresByType application/x-shockwave-flash "access plus 1 years"
#        ExpiresByType image/svg+xml "access plus 1 years"
#        ExpiresByType text/css "access plus 1 years"
#    </FilesMatch>
#</IfModule>



RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^ https://%1%{REQUEST_URI} [L,R=301]



RedirectMatch "^/offsets/" "/en/offsets.php"
RedirectMatch "^/offsetting" "/en/offsets.php"
RedirectMatch "^/offset" "/en/offsets.php"
RedirectMatch "^/offsetting.php" "/en/offsets.php"
RedirectMatch "^/en/offsetting.php" "/en/offsets.php"

